body {
  padding: 0px;
  margin: 0;
}

nav {
  text-align: right;
  padding: 4px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

iframe {
  box-sizing: border-box;
  border: 0;
}

.iframe {
  height: 500px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 !important;
}

@media (min-width: 1921px) {
  .website {
    width: 414px !important;
    max-width: 414px !important;
  }
  .wide-website {
    width: 896.4px !important;
    max-width: 896.4px !important;
  }
}

.hide {
  height: 0.01px !important;
}

.iframe-fullscreen {
  width: 100vw;
  height: calc(100vh - 56px);
}

.ant-collapse-header {
  background-color:rgb(250, 250, 250);
}
